$color_white: #fff;
$color_purple: #7a233c;
$color_gray: #0000001F;
$color_gray_light: #E2E2E2;
$color_gray_lighter: #F2F2F2;
$color_gray_lightest: #F5F5F5;
$color_gray_dark: #707070;
$color_gray_darker: #00000033;
$color_blue_light: #566C7D;
$color_blue_dark: #003399;
$color_blue_darkest: #001926;
$color_pink: #F05D8C;
$color_pink_darker: #DC386D;
$color_pink_darker_half: #DC386D69;
$color_pink_light: #FFB3B5;
$color_green_light: #A9D6AF;
$color_green: #7BB082;
$color_black: #181818;
$color_red: #DA0021;
$color_red_light: #CC3333;
$color_red_dark: #CC151D;
$color_brown: #5E2B10;
$color_skin: #E8D4C3;